*{margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif
}
body{
    background-color: blue;
    color: black;
}
body{
    background:"#000000"
    color="#f7f7f7";
    padding: 50px 19;
    box-sizing: border-box;


}